<div class="container">

  <ol class="orbits">
    <li class="legend">
      <span>barycentre</span>
      <span>body</span>
      <span>arggument of periapsis</span>
      <span>eccentricity</span>
      <span>epoch true anomaly</span>
      <span>inclination</span>
      <span>long ascention node</span>
      <span>semi-major axis</span>
    </li>

    <app-orbit *ngFor="let orbit of orbits"
               barycentre={{getBodyName(orbit.barycentre)}}
               body={{getBodyName(orbit.body)}}
               argPeriapsis={{orbit.argPeriapsis}}
               eccentricity={{orbit.eccentricity}}
               epochTrueAnomaly={{orbit.epochTrueAnomaly}}
               inclination={{orbit.inclination}}
               longAscNode={{orbit.longAscNode}}
               semiMajorAxis={{orbit.semiMajorAxis}}
               >
    </app-orbit>
  </ol>

</div>
