<div class="container">

  <ol class="orbits">
    <li class="legend">
      <span>barycentre</span>
      <span>body</span>
      <span>arggument of periapsis</span>
      <span>eccentricity</span>
      <span>epoch true anomaly</span>
      <span>inclination</span>
      <span>long ascention node</span>
      <span>semi-major axis</span>
    </li>

    <li class="orbit" *ngFor="let orbit of orbits">
      <span>{{getBodyName(orbit.barycentre)}}</span>
      <span>{{getBodyName(orbit.body)}}</span>
      <span>{{orbit.argPeriapsis}}</span>
      <span>{{orbit.eccentricity}}</span>
      <span>{{orbit.epochTrueAnomaly}}</span>
      <span>{{orbit.inclination}}</span>
      <span>{{orbit.longAscNode}}</span>
      <span>{{orbit.semiMajorAxis}}</span>
    </li>
  </ol>

</div>
